@charset "UTF-8";
header {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(206, 229, 242, 0.8);
  z-index: 1;
}
header img {
  width: 18%;
  margin-left: 2%;
  margin-top: 1%;
  border-radius: 50%;
}
header nav {
  margin-right: 2%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: rgb(31, 129, 221);
  font-size: 1.2rem;
  transition: 0.5s;
  word-spacing: -0.4rem;
}
header nav ul li a:hover {
  color: #FF8C00;
}
header nav ul li ul {
  display: none;
}
header nav ul li:nth-of-type(4)::after {
  position: absolute;
  content: " ▶";
  color: rgb(31, 129, 221);
  display: inline-block;
  margin: 0.1rem 0.5rem;
}
header nav ul li:nth-of-type(4):hover::after, header nav ul li:nth-of-type(4):focus::after {
  color: #FF8C00;
  content: " ▼";
}
header nav ul li:nth-of-type(4):hover > ul, header nav ul li:nth-of-type(4):focus > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(206, 229, 242);
  padding: 0.5rem;
}

.hero {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: rgb(31, 129, 221);
}

.custom-shape-divider-bottom-1717507500 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717507500 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 107px;
}

.custom-shape-divider-bottom-1717507500 .shape-fill {
  fill: rgb(206, 229, 242);
}

footer {
  background-color: rgba(31, 129, 221, 0.3);
  margin-top: 1rem;
}

.footer-text2 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}

.contact-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input[type=text] {
  width: 100%;
  border: 1px solid rgb(241, 132, 7);
  border-radius: 5px;
  background-color: transparent;
}

input[type=email] {
  width: 100%;
  border: 1px solid rgb(241, 132, 7);
  border-radius: 5px;
  background-color: transparent;
}

textarea {
  width: 100%;
  border: 1px solid rgb(241, 132, 7);
  border-radius: 5px;
  background-color: transparent;
}

.subject {
  width: 34.5%;
}

.Message {
  width: 34.5%;
}

button {
  background-color: #FF8C00;
  color: #333333;
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: rgb(31, 129, 221);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.circle-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

i:nth-child(1) {
  border-radius: 50%;
  border: 2px solid rgb(31, 129, 221);
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}
i:nth-child(1):hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
  box-shadow: 0 0 10px rgb(31, 129, 221);
}

i:nth-child(2) {
  border-radius: 50%;
  border: 2px solid rgb(31, 129, 221);
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}
i:nth-child(2):hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
  box-shadow: 0 0 10px rgb(31, 129, 221);
}

i:nth-child(3) {
  border-radius: 50%;
  border: 2px solid rgb(31, 129, 221);
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}
i:nth-child(3):hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
  box-shadow: 0 0 10px rgb(31, 129, 221);
}

i:nth-child(4) {
  border-radius: 50%;
  border: 2px solid rgb(31, 129, 221);
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}
i:nth-child(4):hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
  box-shadow: 0 0 10px rgb(31, 129, 221);
}

i:nth-child(5) {
  border-radius: 50%;
  border: 2px solid rgb(31, 129, 221);
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}
i:nth-child(5):hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
  box-shadow: 0 0 10px rgb(31, 129, 221);
}

i:nth-child(6) {
  border-radius: 50%;
  border: 2px solid rgb(31, 129, 221);
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}
i:nth-child(6):hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
  box-shadow: 0 0 10px rgb(31, 129, 221);
}

i:nth-child(7) {
  border-radius: 50%;
  border: 2px solid rgb(31, 129, 221);
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}
i:nth-child(7):hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: white;
  box-shadow: 0 0 10px rgb(31, 129, 221);
}

footer p {
  text-align: center;
  font-weight: 200;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: #333333;
}

body {
  background-color: rgb(206, 229, 242);
  overflow-x: hidden;
}

.section {
  background-color: rgb(206, 229, 242);
  padding: 5rem 0;
}

.section__container {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: #333333;
  margin-bottom: 1rem;
}

span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: #333333;
  margin: 2rem 0;
}

.action__btns {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid #2C2A4A;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.github, .portfolio {
  background-color: #2C2A4A;
  color: rgb(206, 229, 242);
}

.github:hover, .portfolio:hover {
  background-color: rgb(206, 229, 242);
  color: #2C2A4A;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: 80%;
  aspect-ratio: 1/1;
  border: 2 px solid #2C2A4A;
  border-radius: 50%;
  object-fit: cover;
}

/*# sourceMappingURL=extrasite.css.map */
