@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: rgb(206, 229, 242);
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(206, 229, 242, 0.8);
  z-index: 1;
}
header img {
  width: 20%;
  margin-left: 2%;
  border-radius: 50%;
}
header nav {
  margin-right: 2%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  text-decoration: none;
  color: #1F81DD;
  font-size: 1.2rem;
  transition: 0.5s;
  word-spacing: -0.4rem;
}
header nav ul li a:hover {
  color: #FF8C00;
}
header nav ul li ul {
  display: none;
}
header nav ul li:nth-of-type(4)::after {
  position: absolute;
  content: " ▶";
  color: #1F81DD;
  display: inline-block;
  margin: 0.1rem 0.5rem;
}
header nav ul li:nth-of-type(4):hover::after, header nav ul li:nth-of-type(4):focus::after {
  color: #FF8C00;
  content: " ▼";
}
header nav ul li:nth-of-type(4):hover > ul, header nav ul li:nth-of-type(4):focus > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(206, 229, 242);
  padding: 0.5rem;
}

.hero {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #1F81DD;
}

.custom-shape-divider-bottom-1717507500 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717507500 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 107px;
}

.custom-shape-divider-bottom-1717507500 .shape-fill {
  fill: rgb(206, 229, 242);
}

.outerabout {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr/1fr 1fr;
}

.lottie {
  grid-area: 1/1/2/3;
  width: 300px;
  aspect-ratio: 1/1;
}

.about:first-of-type {
  grid-area: 1/1/2/2;
}
.about:last-of-type {
  grid-area: 1/2/2/3;
}

.projekt {
  width: 98%;
  aspect-ratio: 2/1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 0.5rem;
  padding: 1rem;
}

.img-projekt img {
  width: 100%;
  height: 80%;
  box-shadow: 2px 2px 2px 2px rgb(209, 131, 14);
}

.projekt p {
  text-align: center;
  font-style: italic;
}

.up h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

@media (min-width: 1250px) {
  .projekt {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Stile für den Container */
.container-card-all {
  display: flex;
  flex-direction: column;
  gap: 0.7rem; /* Abstand zwischen den Karten */
  width: 90%; /* Breite des Containers */
  margin: 0 auto; /* Zentrieren des Containers */
}

.container-cards {
  display: flex; /* Flex-Layout für den Container */
  height: 30vh;
  border: 1px solid #333333;
}

.container-cards-2 {
  display: flex;
  flex-direction: row-reverse;
  height: 30vh;
  border: 1px solid #333333;
}

/* Stile für die Karten */
.card {
  width: 60%; /* Breite der Karte */
  overflow: hidden; /* Überlaufenden Inhalt verbergen */
  position: relative; /* Position relativ zum Container */
}
.card a {
  text-decoration: none;
}
.card a h2 {
  color: white;
  text-align: center;
  font-size: 1rem; /* Schriftgröße der Überschrift */
}
.card img {
  height: 100%; /* Höhe des Bildes */
  width: 100%; /* Breite des Bildes */
  transition: 0.7s; /* Sanfter Übergangseffekt */
  filter: grayscale(80%);
}
.card:hover {
  cursor: pointer; /* Mauszeiger ändern bei Hover */
}
.card:hover .intro {
  height: 10vh; /* Erhöhte Höhe bei Hover */
  background-color: #2C2A4A; /* Hintergrundfarbe ändern bei Hover */
  opacity: 1;
}
.card:hover img {
  transform: scale(1.1) rotate(-3deg); /* Bild skalieren und drehen bei Hover */
  filter: grayscale(0%); /* Farbeffekt aufheben bei Hover */
}

/* Stile für den Einführungsbereich innerhalb der Karten */
.intro {
  height: 6vh; /* Höhe des Einführungsbereichs */
  width: 100%; /* Breite des Einführungsbereichs */
  position: absolute; /* Position absolute zum Elternelement */
  bottom: 0; /* Position am unteren Rand der Karte */
  background-color: #2C2A4A; /* Halbtransparenter grauer Hintergrund */
  opacity: 0.7; /* Deckkraft des Hintergrunds */
  color: rgb(255, 255, 255); /* Textfarbe */
  transition: 0.7s; /* Sanfter Übergangseffekt */
  display: flex; /* Flex-Layout */
  justify-content: center; /* Vertikal zentrieren */
  align-items: center; /* Horizontal zentrieren */
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #333333;
  width: 76%;
  padding: 1vh 5vw;
  text-align: center;
}
.card-text h4 {
  font-size: 1.2rem; /* Schriftgröße der Überschrift */
  margin: 0.3rem 0;
}
.card-text p {
  font-size: 1rem; /* Schriftgröße des Textes */
}
.card-text .text-p, .card-text button {
  display: none;
}
.card-text button {
  background-color: #FF8C00;
  color: #333333;
  border: none;
  border-radius: 20px;
  width: 30%;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.card-text button:hover {
  background-color: #1F81DD;
}

@media (min-width: 501px) {
  .card {
    width: 35%;
  }
}
@media (min-width: 801px) {
  .card {
    width: 30%;
  }
  .card-text .text-p {
    display: block;
  }
  .container-cards, .container-cards-2 {
    height: 40vh;
  }
}
@media (min-width: 1040px) {
  .card {
    width: 25%;
  }
  .card-text button {
    display: block;
  }
}
@media (min-width: 1201px) {
  .card {
    width: 20%;
  }
  .container-cards, .container-cards-2 {
    height: 50vh;
  }
}

/*# sourceMappingURL=style.css.map */
