.about{
    width: 90%;
    margin: 3% auto;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    grid-template-areas: 
    "about-1 about-4"
    "about-2 about-4"
    "about-3 about-5";
    gap: 2%;
    // color: $dark-color;
    background-color: rgba(206, 229, 242, 0.5);
}

.lottie{
    grid-area: 1/1/3/3;
    width: 100%;
    aspect-ratio: 1/1;
    // opacity: 0.7;
    z-index: -1;
}

@for $i from 1 through 5 {
    .about{

        article:nth-of-type(#{$i}){
            grid-area: about-#{$i};
            
        }
    }
}

@media screen and (min-width: 768px){
    .lottie{
        grid-area: 1/1/4/3;
    }
}