// Projekt CSS - Hüseyin


.projekt {
    width: 90%;
    aspect-ratio: 2 / 1 ;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    
}

.img-projekt{

    img{
        width: 100%;
        aspect-ratio: 2/1;
        box-shadow: 2px 2px 2px 2px rgb(209, 131, 14);
    }

    &:hover:first-of-type,
    &:hover:nth-of-type(4){

        img{
            transform: scale(2.5) translate(30%, 0);
            transition: transform 0.5s;
        }
    }
}
.projekt p {
    text-align: center;
    font-style: italic;
}