// Projekt CSS - Hüseyin


.projekt {
    width: 90%;
    aspect-ratio: 2 / 1.3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    margin: 0.5rem auto;
}

.img-projekt {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    img {
        width: 98%;
        aspect-ratio: 2/1.3;
        box-shadow: 2px 2px 2px 2px rgb(209, 131, 14);
        transition: transform 0.5s;
    }

    &:hover:first-of-type,
    &:hover:nth-of-type(4) {
        overflow: visible;

        img {
            transform: scale(2.5) translate(30%, 0);
        }
    }

    &:hover:nth-of-type(2),
    &:hover:nth-of-type(5) {
        overflow: visible;

        img {
            transform: scale(2.5) translate(0, 0);
        }
    }

    &:hover:nth-of-type(3),
    &:hover:last-of-type {
        overflow: visible;

        img {
            transform: scale(2.5) translate(-30%, 0);
        }
    }

}

.projekt p {
    text-align: center;
    font-style: italic;
}

@media screen and (min-width: 1000px) {
    .img-projekt {

        &:hover:first-of-type,
        &:hover:nth-of-type(4) {

            img {
                transform: scale(1.5) translate(30%, 0);
            }
        }

        &:hover:nth-of-type(2),
        &:hover:nth-of-type(5) {

            img {
                transform: scale(1.5) translate(0,0);
            }
        }

        &:hover:nth-of-type(3),
        &:hover:last-of-type {

            img {
                transform: scale(1.5) translate(-30%, 0);
            }
        }
    }
}