$light-color: rgb(206, 229, 242);
$dark-color: #2C2A4A;
$text-color: #333333;
$logo-color: rgb(31, 129, 221);
$highlight-color: #FF8C00;
$standard-font: 'Roboto Mono', monospace;
$standard-font-size: 1rem;
$standard-h4: 1.2rem;
$standard-h3: 1.4rem;
$standard-h2: 1.6rem;
$standard-h1: 1.8rem;