@import "./variables/_variables.scss";
@import "./hüseyin/footer";
@import "./hüseyin/projects";
@import "./lara/aboutus";
@import "./lara/header";
@import "./yasin/thisisus";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $standard-font;
}

body{
    background-color: $light-color;
}