@import "./variables/_variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $standard-font;
}

body{
    background-color: $light-color;
}

@import "./header";
@import "./lara/aboutus.scss";
@import "./huseyin/projects";
@import "./yasin/thisisus.scss";
@import "./huseyin/footer.scss";