@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $standard-font;
    color: $text-color;
}

body{
    background-color: $light-color;
}

h2{
    font-size: $standard-h1;
}

h2:not(:is(.not)){
    text-align: center;
}

@import "./header";
@import "./aboutus";
@import "./projects";
@import "./thisisus";
@import "./footer";